<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}" lang="es">
<head>
  <link rel="stylesheet" type="text/css"
        href="/css/natacio.css"
        th:href="@{/css/natacio.css}"/>
  <title>Login</title>
  <meta charset="UTF-8"/>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content">
  <h2>Accés</h2>
  <form action="#" th:action="@{/login}"
        th:object="${user}" method="post">
    <p>
    <div class="form-group">
      <label>Nom d'usuari:</label>
      <label>
        <input class="form_control" type="text" aria-describedby="usernameHelp" placeholder="Enter username" th:field="*{username}"/>
      </label>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </p>
    <p>
    <div class="form-group">
      <label>Contrasenya:</label>
      <label>
        <input class="form_control" type="password" id="InputPassword1" placeholder="Password" th:field="*{password}"/>
      </label>
    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    </p>
    <input class="btn btn-primary" type="submit" value="Accedir" />
  </form>
</div>
</body>
</html>

